@model Mileage.WebApp.Pages.Settings.Defaults.EditRateModel
@{
	Layout = "Modals/UpdateModal";
}

<form method="post" action="@Url.Page("Index", "EditRate")">
	<p>Please select a default rate:</p>
	<vc:rate-list
		list-name="Settings.DefaultRateId"
		allow-null="true"
		items="@Model?.Rates"
		selected="@Model?.Settings.DefaultRateId"
	/>
	
	@Html.HiddenForId(x => x.Settings.DefaultCarId)
	@Html.HiddenForId(x => x.Settings.DefaultFromPlaceId)
	@Html.HiddenFor(x => x.Settings.Version)
	@Html.AntiForgeryToken()
</form>
