@model Mileage.WebApp.Pages.Settings.Defaults.FromPlaceModel
@{
	Layout = "Modals/EditModal";
}

<form method="post" action="@Url.Page("Index", "FromPlace")">
	<p>Please select a default starting place:</p>
	<vc:place-list
		list-name="Settings.DefaultFromPlaceId"
		allow-null="true"
		items="@Model?.Places"
		selected="@Model?.Settings.DefaultFromPlaceId"
	/>

	@Html.HiddenForId(x => x.Settings.DefaultCarId)
	@Html.HiddenForId(x => x.Settings.DefaultRateId)
	@Html.HiddenFor(x => x.Settings.Version)
	@Html.AntiForgeryToken()
</form>
