@page
@model Mileage.WebApp.Pages.Settings.Defaults.IndexModel
@{
	Layout = null;
	var settings = Model.Settings;
}

<div>
	<vc:car
		label="Default Car"
		update-url="@Url.Page("Index", "EditCar")"
		value="@settings.DefaultCarId"
		journey-id="null"
	/>
</div>

<div>
	<vc:from-place
		label="Default Starting Place"
		update-url="@Url.Page("Index", "EditFromPlace")"
		value="@settings.DefaultFromPlaceId"
		journey-id="null"
	/>
</div>

<div>
	<vc:rate
		label="Default Rate"
		update-url="@Url.Page("Index", "EditRate")"
		value="@settings.DefaultRateId"
		journey-id="null"
	/>
</div>
