@model Mileage.WebApp.Pages.Auth.ChangePasswordModel
@{
	Layout = "Modals/UpdateModal";

	var currentName = Html.NameFor(x => x.Password.CurrentPassword);
	var newName = Html.NameFor(x => x.Password.NewPassword);
	var checkName = Html.NameFor(x => x.Password.CheckPassword);
}

<form method="post" action="@Url.Page("Profile", "ChangePassword")">

	<div class="mb-3">
		<input type="password"
			   class="form-control modal-select"
			   name="@currentName"
			   id="@currentName.Normalise()"
			   placeholder="Current password"
			   required />
		<div class="invalid-feedback">Please enter your current password.</div>
	</div>

	<div class="mb-3">
		<input type="password"
			   class="form-control modal-select"
			   name="@newName"
			   id="@newName.Normalise()"
			   placeholder="New password"
			   required />
		<div class="invalid-feedback">Please enter your new password.</div>
	</div>

	<div class="mb-3">
		<input type="password"
			   class="form-control modal-select"
			   name="@checkName"
			   id="@checkName.Normalise()"
			   placeholder="New password"
			   required />
		<div class="invalid-feedback">Please re-enter your new password.</div>
	</div>

	@Html.HiddenFor(x => x.Password.Version)
	@Html.AntiForgeryToken()

</form>
