@page
@model Mileage.WebApp.Pages.Auth.SignInModel

<div class="container">

	<!-- Alerts -->
	<alerts />

	<!-- SignIn Form -->
	<form method="post" action="@Url.Page("SignIn", new { returnUrl = Model.Form.ReturnUrl })">

		<!-- Sign In details -->
		<div class="form-group">
			<label for="@nameof(Model.Form.Email)">Email address</label>
			<input type="email"
				   class="form-control"
				   id="@nameof(Model.Form.Email)"
				   name="@nameof(Model.Form.Email)"
				   placeholder="Please enter your email address"
				   required />
		</div>
		<div class="form-group">
			<label for="@nameof(Model.Form.Password)">Password</label>
			<input type="password"
				   class="form-control"
				   id="@nameof(Model.Form.Password)"
				   name="@nameof(Model.Form.Password)"
				   placeholder="Please enter your password"
				   required />
		</div>
		<div class="form-group">
			<input type="checkbox"
				   class="form-check-input"
				   id="@nameof(Model.Form.RememberMe)"
				   name="@nameof(Model.Form.RememberMe)" />
			<label for="@nameof(Model.Form.RememberMe)">Keep me signed in</label>
		</div>

		<!-- Hidden values -->
		<input type="hidden"
			   id="@nameof(Model.Form.ReturnUrl)"
			   name="@nameof(Model.Form.ReturnUrl)"
			   value="@Model.Form.ReturnUrl" />
		@Html.AntiForgeryToken()

		<!-- Submit -->
		<button type="submit" class="btn btn-primary">Sign In</button>

	</form>


</div>
