@model Mileage.WebApp.Pages.Components.Miles.MilesModel

@{
	ArgumentNullException.ThrowIfNull(Model);

	if (Model.Miles == 0)
	{
		return;
	}

	var tokenId = Rnd.Str;
}

<span id="@tokenId" class="miles token">
	@Model.Label
	<a href="javascript:void(0)"
		class="link-primary"
		data-update="@Model.UpdateUrl"
		data-replace="@tokenId"
		data-target="@Model.JourneyId?.Value">@Model.Miles</a>
</span>
