@using Jeebs.Extensions
@model Domain.GetCar.CarModel?
@{
	var formId = Rnd.Str;
}

<form id="@formId"
	  class="row row-cols-md-auto g-3 align-items-center needs-validation"
	  action="@Url.Page("Index")"
	  method="post"
	  data-replace="cars"
	  data-replace-contents="true"
	  novalidate>

	<!-- Car Details -->
	<div class="col-12 position-relative">
		@Html.LabelFor(m => m!.Description, new { @class = "visually-hidden" })
		<input type="text"
			   class="form-control select-on-load"
			   name="@Html.NameFor(m => m!.Description)"
			   id="@Html.NameFor(m => m!.Description)"
			   placeholder="@nameof(Model.Description)"
			   required />
		<div class="invalid-tooltip">Please enter a description.</div>
	</div>

	<div class="col-12">
		@Html.LabelFor(m => m!.NumberPlate, new { @class = "visually-hidden" })
		<div class="input-group">
			<input type="text"
				   class="form-control"
				   name="@Html.NameFor(m => m!.NumberPlate)"
				   id="@Html.NameFor(m => m!.NumberPlate)"
				   placeholder="@nameof(Model.NumberPlate).SplitByCapitals()" />
		</div>
	</div>

	<!-- Hidden Values -->
	@Html.AntiForgeryToken()

	<!-- Buttons -->
	<div class="col-12">
		<button type="reset" class="btn btn-secondary btn-cancel">Cancel</button>
		<button type="submit" class="btn btn-primary btn-save">Create</button>
	</div>

</form>

<script type="text/javascript">
	selectInputOnLoad();
	setupSaveFormOnEnter("#@formId");
</script>
