@using Jeebs.Extensions
@model Mileage.WebApp.Pages.Settings.Cars.EditModel
@{
	ArgumentNullException.ThrowIfNull(Model);

	Model.Title += " " + Model.Car.Id.Value;
	Layout = "Modals/UpdateModal";
}

<form class="needs-validation"
	  action="@Url.Page("Index")"
	  method="post"
	  data-replace="cars"
	  data-replace-contents="true"
	  novalidate>

	<!-- Car Details -->

	<div class="mb-3">
		@Html.LabelFor(m => m.Car.Description, new { @class = "visually-hidden" })
		<input type="text" class="form-control select-on-load"
			   name="@Html.NameFor(m => m.Car.Description)"
			   id="@Html.NameFor(m => m.Car.Description)"
			   placeholder="@nameof(Model.Car.Description)"
			   value="@Model.Car.Description"
			   required />
		<div class="invalid-tooltip">Please enter a description.</div>
	</div>

	<div class="mb-3">
		@Html.LabelFor(m => m.Car.NumberPlate, new { @class = "visually-hidden" })
		<div class="input-group">
			<input type="text" class="form-control"
				   name="@Html.NameFor(m => m.Car.NumberPlate)"
				   id="@Html.NameFor(m => m.Car.NumberPlate)"
				   placeholder="@nameof(Model.Car.NumberPlate).SplitByCapitals()"
				   value="@Model.Car.NumberPlate" />
		</div>
	</div>

	<!-- Hidden Values -->
	@Html.AntiForgeryToken()
	@Html.HiddenForId(m => m.Car.Id)
	@Html.HiddenFor(m => m.Car.Version)

</form>
