@page
@using Jeebs
@model WebApp.Pages.Reports.IndexModel

<div class="container">

	<h2>Reports</h2>

	<hr />
	<h3>Expenses</h3>

	<div class="d-flex align-items-center">
		<div>For the month of:</div>
		<div class="dropdown ms-2">
			<button class="btn btn-primary dropdown-toggle"
					type="button"
					id="month-dropdown"
					data-bs-toggle="dropdown"
					aria-expanded="false">
				Select Month
			</button>
			<ul class="dropdown-menu" aria-labelledby="month-dropdown">
				@foreach (var item in Model.ExpensesMonths)
				{
					var (year, month) = (item.Year, item.Month);
					<li><a class="dropdown-item" href="@Url.Page("Expenses", new { year, month })">@item.ToString("MMMM yyyy")</a></li>
				}
			</ul>
		</div>
	</div>

	<hr />
	<h3>Journeys</h3>

	@{
		(string? href, string text) journeysLink(DateTime start, DateTime end)
		{
			var href = Url.Page("Journeys", new { start = start.ToString("yyyy-MM-dd"), end = end.ToString("yyyy-MM-dd") });
			var text = start.ToString("MMMM yyyy");
			return (href, text);
		}

		var thisMonth = journeysLink(DateTime.Now.FirstDayOfMonth(), DateTime.Now.LastDayOfMonth());
		var lastMonth = journeysLink(DateTime.Now.AddMonths(-1).FirstDayOfMonth(), DateTime.Now.AddMonths(-1).LastDayOfMonth());
		var prevMonth = journeysLink(DateTime.Now.AddMonths(-2).FirstDayOfMonth(), DateTime.Now.AddMonths(-2).LastDayOfMonth());
	}

	<div class="d-flex align-items-center">
		<div>By recent months:</div>
		<div class="dropdown ms-2">
			<button class="btn btn-primary dropdown-toggle"
					type="button"
					id="journeys-presets-dropdown"
					data-bs-toggle="dropdown"
					aria-expanded="false">
				Select Preset
			</button>
			<ul class="dropdown-menu" aria-labelledby="journeys-presets-dropdown">
				<li><a class="dropdown-item" href="@thisMonth.href">This month (@thisMonth.text)</a></li>
				<li><a class="dropdown-item" href="@lastMonth.href">Last month (@lastMonth.text)</a></li>
				<li><a class="dropdown-item" href="@prevMonth.href">Previous month (@prevMonth.text)</a></li>
			</ul>
		</div>
	</div>

	<div class="mt-2">
		Between dates:
	</div>
	<div class="d-flex align-items-center">
		<form action="@Url.Page("Journeys")" method="get" novalidate>
			<div class="input-group input-daterange position-relative">
				<input type="text"
					   class="form-control"
					   name="start"
					   id="start"
					   required />
				<div class="input-group-text">to</div>
				<input type="text"
					   class="form-control"
					   name="end"
					   id="end"
					   required />
				<div class="invalid-tooltip">Please select a start and end date.</div>
				<button type="submit" class="btn btn-primary show-journeys">Go</button>
			</div>
		</form>
	</div>

</div>

<script type="text/javascript">
	$(".input-daterange").datepicker({
		inputs: $("input"),
		orientation: "bottom"
	});
</script>
