@model Mileage.WebApp.Pages.Components.PlaceList.PlaceListModel

@if (Model.Places.Any())
{
	if (Model.AllowNull)
	{
		var check = Model.SelectedPlace is null ? " checked" : string.Empty;
		<input type="radio" class="btn-check" id="place-null" name="@Model.ListName" value="null" autocomplete="off"@check/>
		<label class="btn btn-outline-primary" for="place-null">None</label>
	}

	foreach (var item in Model.Places)
	{
		var id = $"place-{item.Id.Value}";
		var check = item.Id == Model.SelectedPlace ? " checked" : string.Empty;
		<input type="radio" class="btn-check" id="@id" name="@Model.ListName" value="@item.Id.Value" autocomplete="off"@check/>
		<label class="btn btn-outline-primary" for="@id">@item.Description.Trim()</label>
	}
}
else
{
	<p>Please add some places.</p>
}
