@page
@model Mileage.WebApp.Pages.Journey.EditEndMilesModel
@{
	Model.Title += $" (Journey {Model.Journey.Id.Value})";
	Layout = "Modals/EditModal";
}

<form method="post" action="@Url.Page("EditStartMiles")">
	<label for="">Please enter the ending miles:</label>
	@Html.TextBoxFor(x => x.Journey.EndMiles, htmlAttributes: new { @class = "form-control", type = "number", required = true })

	@Html.HiddenForId(x => x.Journey.Id)
	@Html.HiddenFor(x => x.Journey.Version)
	@Html.AntiForgeryToken()
</form>
