@page
@model Mileage.WebApp.Pages.Journey.EditFromPlaceModel
@{
	Model.Title += $" (Journey {Model.Journey.Id.Value})";
	Layout = "Modals/EditModal";
}

<form method="post" action="@Url.Page("EditFromPlace")">
	<p>Please select a starting place:</p>
	<vc:place-list
		list-name="Journey.FromPlaceId"
		allow-null="true"
		items="@Model.Places"
		selected="@Model.Journey.FromPlaceId"
	/>

	@Html.HiddenForId(x => x.Journey.Id)
	@Html.HiddenFor(x => x.Journey.Version)
	@Html.AntiForgeryToken()
</form>
