@using Jeebs.Extensions
@model Mileage.WebApp.Pages.Components.List.ListSingleModel
@{
	ArgumentNullException.ThrowIfNull(Model);

	if (Model.Items.Any())
	{
		<div class="mb-2">
			<input type="text" class="form-control modal-select" id="list-filter" placeholder="Search..." autocomplete="off" />
		</div>

		<div class="list-items mb-3" id="list-items">
			@if (Model.AllowNull)
			{
				Radio(Model.ListName, $"{Model.Singular}-null", "null", "None", Model.Selected is null);
			}

			@foreach (var item in Model.Items)
			{
				Radio(Model.ListName, $"{Model.Singular}-{item.Id}", item.Id, item.Text, Model.Selected == item.Id);
			}
		</div>
	}
	else
	{
		<p>Please add some @Model.Singular.Pluralise(2).</p>
	}
}

@functions {
	/// <summary>
	/// Output a radio input item
	/// </summary>
	/// <param name="name">The List name</param>
	/// <param name="id">Item ID</param>
	/// <param name="value">Item value</param>
	/// <param name="text">Item display text</param>
	/// <param name="selected">True if the item should be marked as selected</param>
	void Radio(string name, string id, object value, string text, bool selected)
	{
		var check = selected ? "checked" : string.Empty;
		<div class="list-item" data-text="@text.ToLowerInvariant()">
			<input type="radio" class="btn-check auto-save" id="@id" name="@name" value="@value" autocomplete="off" @check />
			<label class="btn btn-outline-primary mb-1" for="@id">@text</label>
		</div>
	}
}
