@page
@model Mileage.WebApp.Pages.Settings.IndexModel

<div class="container">

	<h2>Settings</h2>

	<ul class="nav nav-tabs nav-fill" id="settingsButtons" role="tablist">
		@{
			TabButton("Defaults");
			TabButton("Cars");
			TabButton("Places");
			TabButton("Rates");
		}
	</ul>

	<div class="tab-content mt-3" id="settingsPanes">
		@{
			TabPane("Defaults");
			TabPane("Cars");
			TabPane("Places");
			TabPane("Rates");
		}
	</div>

</div>

@functions {
	void TabButton(string text)
	{
		var active = text == "Defaults";
		var name = text.ToLowerInvariant();
		var css = "nav-link" + (active ? " active" : "");

		<li class="nav-item" role="presentation">
			<button id="@name-tab"
				class="@css"
				type="button"
				role="tab"
				data-bs-toggle="tab"
				data-bs-target="#@name"
				aria-controls="@name"
				aria-selected="@active">
				@text
			</button>
		</li>
	}

	void TabPane(string page)
	{
		var name = page.ToLowerInvariant();
		var src = Url.Page($"{page}/Index");
		var css = "tab-pane face" + (page == "Defaults" ? " show active" : "");

		<div id="@name" class="@css" role="tabpanel" aria-labelledby="@name-tab" data-src="@src"></div>
	}
}

@section Script {
	<script type="text/javascript">ready(() => loadSettingsTab("#defaults"));</script>
}
