@page
@model Mileage.WebApp.Pages.Settings.IndexModel

<div class="container">

	<h2>Settings</h2>

	<ul class="nav nav-tabs nav-fill" id="settingsButtons" role="tablist">
		@{
            await TabButtonAsync("General");
            await TabButtonAsync("Cars");
            await TabButtonAsync("Places");
            await TabButtonAsync("Rates");
		}
	</ul>

	<div class="tab-content p-3 border-start border-end border-bottom rounded-bottom" id="settingsPanes">
		@{
            await TabPaneAsync("General");
            await TabPaneAsync("Cars");
            await TabPaneAsync("Places");
            await TabPaneAsync("Rates");
		}
	</div>

</div>

@functions {
    async Task TabButtonAsync(string text)
	{
		var active = text == "General";
		var name = text.ToLowerInvariant();
		var css = "nav-link" + (active ? " active" : "");

		<li class="nav-item" role="presentation">
			<button id="@name-tab"
				class="@css"
				type="button"
				role="tab"
				data-bs-toggle="tab"
				data-bs-target="#@name"
				aria-controls="@name"
				aria-selected="@active">
				@text
			</button>
		</li>
	}

	async Task TabPaneAsync(string page)
	{
		var name = page.ToLowerInvariant();
		var src = Url.Page($"{page}/Index");
		var css = "tab-pane face" + (page == "General" ? " show active" : "");

		<div id="@name" class="@css" role="tabpanel" aria-labelledby="@name-tab" data-src="@src"></div>
		<script type="text/javascript">loadSettingsTab("#@name");</script>
	}
}
