@using Jeebs.Extensions
@model Mileage.WebApp.Pages.Settings.Places.EditModel
@{
	ArgumentNullException.ThrowIfNull(Model);

	Model.Title += " " + Model.Place.Id.Value;
	Layout = "Modals/UpdateModal";
}

<form class="needs-validation"
	  action="@Url.Page("Index")"
	  method="post"
	  data-replace="places"
	  data-replace-contents="true"
	  novalidate>

	<!-- Place Details -->
	<div class="mb-3">
		@Html.LabelFor(m => m.Place.Description, new { @class = "visually-hidden" })
		<input type="text"
			   class="form-control modal-focus"
			   name="@Html.NameFor(m => m.Place.Description)"
			   id="@Html.NameFor(m => m.Place.Description)"
			   placeholder="@nameof(Model.Place.Description)"
			   value="@Model.Place.Description"
			   required />
		<div class="invalid-feedback">Please enter a description.</div>
	</div>

	<div class="mb-3">
		@Html.LabelFor(m => m.Place.Postcode, new { @class = "visually-hidden" })
		<div class="input-group">
			<input type="text" class="form-control"
				   name="@Html.NameFor(m => m.Place.Postcode)"
				   id="@Html.NameFor(m => m.Place.Postcode)"
				   placeholder="@nameof(Model.Place.Postcode)"
				   value="@Model.Place.Postcode" />
		</div>
	</div>

	@if (Model.Place.IsDisabled)
	{
		<div class="form-check form-switch mb3">
			<input type="checkbox"
				class="form-check-input"
				name="@Html.NameFor(m => m.Place.IsDisabled)"
				id="@Html.NameFor(m => m.Place.IsDisabled)"
				checked="checked"
				/>
			<label class="form-check-label" for="@Html.NameFor(m => m.Place.IsDisabled)">
				Disabled (can't be selected for new journeys)
			</label>
		</div>
	}

	<!-- Hidden Values -->
	@Html.AntiForgeryToken()
	@Html.HiddenForId(m => m.Place.Id)
	@Html.HiddenFor(m => m.Place.Version)

</form>
