@model Mileage.WebApp.Pages.Journeys.CreateModel
@{
	Layout = "Modals/CreateModal";
}

<form action="@Url.Page("Index", "Create")" method="post">

	<div class="mb-3">
		<label class="form-label" for="@Html.NameFor(x => x.Journey.Day)">Please select a day:</label>
		<input type="text"
			class="form-control"
			id="@Html.NameFor(x => x.Journey.Day)"
			name="@Html.NameFor(x => x.Journey.Day)"
			data-provide="datepicker"
			value="@Model?.Journey.Day.ToString("yyyy-MM-dd")"
			required="required"
		/>
	</div>
	
	<div class="mb-3">
		<label class="form-label" for="@Html.NameFor(x => x.Journey.StartMiles)">Please enter the starting miles:</label>
		<input type="number"
			class="form-control"
			id="@Html.NameFor(x => x.Journey.StartMiles)"
			name="@Html.NameFor(x => x.Journey.StartMiles)"
			value="@Model?.Journey.StartMiles"
			min="1"
			required="required"
		/>
	</div>
	
	@Html.HiddenForId(x => x.Journey.CarId)
	@Html.HiddenForId(x => x.Journey.FromPlaceId)
	@Html.HiddenForId(x => x.Journey.RateId)
	@Html.AntiForgeryToken()

</form>
