@model WebApp.Pages.Journeys.DeleteModel
@{
	Layout = "Modals/DeleteModal";
}

<form action="@Url.Page("Index", "Delete")" method="post">

	<div>
		@Model?.Journey.Day.ToString("yyyy-MM-dd")
		from @Model?.Journey.StartMiles
		@if (Model?.Journey.EndMiles is int end)
		{
			<text> to @end</text>
		}
	</div>

	@Html.AntiForgeryToken()
	@Html.HiddenForId(m => m.Journey.Id)
	@Html.HiddenFor(m => m.Type)

</form>
