@model Mileage.WebApp.Pages.Journeys.EditDayModel
@{
	ArgumentNullException.ThrowIfNull(Model);

	Model.Title += $" (Journey {Model.Journey.Id.Value})";
	Layout = "Modals/UpdateModal";
}

<form method="post" action="@Url.Page("Index", "EditDay")">
	<label class="form-label" for="@Html.NameFor(x => x.Journey.Day)">Please select a day:</label>
	<input 
		class="form-control auto-save"
		id="@Html.NameFor(x => x.Journey.Day)"
		name="@Html.NameFor(x => x.Journey.Day)"
		data-provide="datepicker"
		value="@Model?.Journey.Day.ToString("yyyy-MM-dd")"
		required="required"
	/>

	@Html.HiddenForId(x => x.Journey.Id)
	@Html.HiddenFor(x => x.Journey.Version)
	@Html.AntiForgeryToken()
</form>
