@model Mileage.WebApp.Pages.Journeys.EditFromPlaceModel
@{
	ArgumentNullException.ThrowIfNull(Model);

	Model.Title += $" (Journey {Model.Journey.Id.Value})";
	Layout = "Modals/UpdateModal";
}

<form method="post" action="@Url.Page("Index", "EditFromPlace")">
	<p>Please select a starting place:</p>
	<vc:from-place-list
		list-name="Journey.FromPlaceId"
		allow-null="false"
		items="@Model.Places"
		selected="@Model.Journey.FromPlaceId"
	/>

	@Html.HiddenForId(x => x.Journey.Id)
	@Html.HiddenFor(x => x.Journey.Version)
	@Html.AntiForgeryToken()
</form>
