@model Mileage.WebApp.Pages.Journeys.EditEndMilesModel
@{
	ArgumentNullException.ThrowIfNull(Model);

	Model.Title += $" (Journey {Model.Journey.Id.Value})";
	Layout = "Modals/UpdateModal";
	var value = Model.Journey.EndMiles ?? Model.Journey.StartMiles;
}

<form method="post" action="@Url.Page("Index", "EditEndMiles")">
	<input type="number"
		class="form-control modal-select"
		name="@Html.NameFor(x => x.Journey.EndMiles)"
		id="@Html.NameFor(x => x.Journey.EndMiles).Normalise()"
		min="@Model.Journey.StartMiles"
		value="@value"
		pattern="[0-9]*"
		required
	/>
	<div class="invalid-feedback">Please enter a valid number greater than the starting miles (@Model.Journey.StartMiles).</div>

	@Html.HiddenForId(x => x.Journey.Id)
	@Html.HiddenFor(x => x.Journey.Version)
	@Html.AntiForgeryToken()
</form>
