@model Mileage.WebApp.Pages.Journeys.EditCarModel
@{
	ArgumentNullException.ThrowIfNull(Model);

	Model.Title += $" (Journey {Model.Journey.Id.Value})";
	Layout = "Modals/EditModal";
}

<form method="post" action="@Url.Page("Index", "EditCar")">
	<p>Please select a car:</p>
	<vc:car-list
		list-name="Journey.CarId"
		allow-null="false"
		items="@Model.Cars"
		selected="@Model.Journey.CarId"
	/>

	@Html.HiddenForId(x => x.Journey.Id)
	@Html.HiddenFor(x => x.Journey.Version)
	@Html.AntiForgeryToken()
</form>
